version: '3.8'

services:
  backend:
    build: ./backend
    container_name: what-to-cinema-backend
    restart: always
    environment:
      - API_KEY=${API_KEY}
      - MOVIE_THEATER_URLS=${MOVIE_THEATER_URLS}
      - SKIP_MOVIE_KEYWORDS=${SKIP_MOVIE_KEYWORDS}
    volumes:
      - data:/app/data
    networks:
      - dokploy-network

  frontend:
    build: ./frontend
    container_name: what-to-cinema-frontend
    restart: always
    expose:
      - 3000
    environment:
      - BACKEND_URL=http://backend:8000/api
      - API_KEY=${API_KEY}
      - AUTH_PASSCODE=${AUTH_PASSCODE}
      - APP_LOCALE=${APP_LOCALE}
    depends_on:
      - backend
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true

volumes:
  data:
