version: '3.8'

services:
  backend:
    build: ./backend
    container_name: mozi-backend
    restart: always
    environment:
      - API_KEY=${API_KEY}
      - MOVIE_THEATER_URLS=${MOVIE_THEATER_URLS}
    volumes:
      - ./data:/app/data

  frontend:
    build: ./frontend
    container_name: mozi-frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:3000/backend
      - API_KEY=${API_KEY}
    depends_on:
      - backend

volumes:
  data:
